Package: golang-gopkg-yaml.v2-dev
Source: golang-yaml.v2
Version: 2.2.1-2~bpo8+1
Architecture: all
Maintainer: Debian Go Packaging Team <pkg-go-maintainers@lists.alioth.debian.org>
Installed-Size: 353
Depends: golang-gopkg-check.v1-dev
Provides: golang-yaml.v2-dev
Section: devel
Priority: optional
Homepage: https://github.com/go-yaml/yaml/tree/v2
Description: YAML support for the Go language
 The yaml package enables Go programs to very comfortably encode and
 decode YAML values. It was developed within Canonical as part of the
 juju project, and is based on a pure Go port of the well-known libyaml
 C library to parse and generate YAML data quickly and reliably.
 .
 The yaml package supports most of YAML 1.1 and 1.2, including support for
 anchors, tags, map merging, etc. Multi-document unmarshalling is not yet
 implemented, and base-60 floats from YAML 1.1 are purposefully not supported
 since they're a poor design and are gone in YAML 1.2.
 .
 This package is an incompatible successor to golang-goyaml
 ("gonuts.org/v1/yaml", and then renamed to "gopkg.in/yaml.v1").
